### Java ###
*.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Packaged files ###
*.jar
*.war
*.ear

### Eclipse ###
.classpath
.project
.settings/

### Intellij ###
.idea/
*.iml
*.iws

### Mac ###
.DS_Store
*~

### Maven ###
log/
logs/
test-output
target/

### Misc ###
/ignoreme.txt
